DB_PORT_EXTERNAL=5433
BACKEND_PORT_EXTERNAL=8000
FRONTEND_PORT_EXTERNAL=4200

DB_PORT_INTERNAL=5432
BACKEND_PORT_INTERNAL=8000

DB_NAME=internet_juan
DB_USER='usuario'
DB_PASSWORD='contraseña'

SECRET_KEY='secret key'
DEBUG=true

API_URL=http://localhost:8000/api